@model DataLayer.Resort

<div class="content_background">

    <strong>@Model.Name</strong>
    <table id="table" class="table table-bordered">
        <thead>

            <tr>
                <th>Фото</th>
                <th>Курорт</th>
                <th>Страна</th>
         

            </tr>
        </thead>

        <tbody>
            <tr>
                <td><img class="img-rounded" width="200px" height="200px" alt="@Model.Name" src="@Url.Action("GetImageResort", "Tour", new { Model.Id })" /></td>
            <td>
                <strong>@Model.Name</strong>
            </td>
            <td><strong><a href="@Url.Action("CountryDetails", "Tour",
                                     new {id = Model.Country.Id })" target="_blank">
    @Html.DisplayFor(modelItem => Model.Country.Name)
</a>                </strong></td>
           
        </tr>

    </tbody>
</table>
<div>
    <p>
        @Html.Raw(Model.Description)
    </p>
</div>
    @*<div class="pull-right" style="margin-left: 20px;">
        <p>
            <img class="img-circle" width="350px" height="350px" alt="@Model.Name" src="@Url.Action("GetImageResort", "Tour", new { Model.Id })" />
        </p>
    </div>



    <div id="album-details" style="margin-left: 20px;">

        <p>
            <em>Курорт:</em>
            <strong>@Model.Name</strong>
</p>

        <p>
            <em>Описание:</em>
            <div class="description_width">
                @Html.Raw(Model.Description)
            </div>
        </p>
        <p>
            <em>Страна:</em>
            <div> 
                  <a href="@Url.Action("CountryDetails", "Tour",
                                     new {id = Model.Country.Id })" target="_blank">
                        @Html.DisplayFor(modelItem => Model.Country.Name)
                    </a>                
            </div>
        </p>
    </div>*@

</div>
