@model List<DataLayer.Author>
    @{

        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h1>Все авторы</h1>
    <table class="Grid">
        <tr>
            <th>ID</th>
            <th>Name</th>

            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>

                <td>@Html.ActionLink(item.Name, "EditAuthor", new { item.Id })</td>

                <td>
                    @using (Html.BeginForm("DeleteAuthors", "Admin"))
                    {
                        @Html.Hidden("Author", item.Id)
                        <input type="submit" value="Delete" />
                    }
                </td>

            </tr>
        }
    </table>
    <p>@Html.ActionLink("Добавить запись", "CreateAuthor")</p>
    <p>@Html.ActionLink("Главная страница", "Index", "Home")</p>

    <p>@Html.ActionLink("Админка", "Index")</p>
