@model DataLayer.Author
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>
@using (Html.BeginForm("EditAuthor", "Admin",
  FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(s => s.Id)
    <div>Имя автора: @Html.EditorFor(x => x.Name)</div>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}

<p>@Html.ActionLink("Главная страница", "Index", "Home")</p>