<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-image-gallery.min.css">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title></title>
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="Message">@TempData["message"]</div>
        }

        @*<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>*@
    
        @*<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>*@
        
       <script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
        
       
        @RenderBody()
        @Scripts.Render("~/Scripts/jquery-2.1.4.js")
        @Scripts.Render("~/Scripts/bootstrap.js")
        @Scripts.Render("~/Scripts/Site.js")
        @Scripts.Render("~/Scripts/bootstrap.css")
        <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <script src="~/Scripts/bootstrap-image-gallery.min.js"></script>

        @RenderSection("scripts", required: false)

    </div>
</body>
</html>