@model List<DataLayer.Country>
@{
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}
@{
    ViewBag.Title = "Страны и курорты";
}
<style>
    .hot {
        font-size: 18px;
    }

        .hot a {
            color: #F86126 !important;
            font-size: 18px;
            text-decoration: none;
        }

    .podr a {
        color: red !important;
        font-size: 10px;
    }

    .size {
        white-space: nowrap;
        overflow: hidden;
        /*background: #fc0;
        padding: 5px;*/
        text-overflow: ellipsis;
        height: 65px;
        line-height: 19px;
    }

</style>
<input type="text" id="text-to-find" placeholder="Поиска по странам" value="">

@foreach (var country in Model)
{
    <div class="block_one" style="margin-top:20px;" data-id="@country.Id">
        <div class="feed">
            <div class="hot pull-left">
                <strong><a href="@Url.Action("CountryDetails", "Tour", new { id = country.Id})" target="_blank">@country.Name</a></strong>
            </div>
            <div class="author pull-right">
                <a href="@Url.Action("CountryDetails", "Tour",
                                 new { id = country.Id })" target="_blank">
                    <img src="@Url.Action("GetImageCountry", "Tour", new { country.Id })" alt="@country.Name" style="width: 45px;height: 25px;" />
                </a>
            </div>
            <div style="clear:both"></div>
            <div class="size" id="desc" style="margin-top:10px;">
                @Html.Raw(country.Description)
            </div>
            <div class="podr">
                <a href="@Url.Action("CountryDetails", "Tour",
                                 new { id = country.Id })" target="_blank">
                    подробнее
                </a>
            </div>
        </div>

    </div>
}
<div id="hidden_dialog" style="display:none">

</div>
<script type="text/javascript">
    $(".block_one").searcher({
        itemSelector: ".feed",
        textSelector: "div",
        inputSelector: "#text-to-find",
        toggle: function (item, containsText) {
            debugger;
            if (containsText)
                $(item).fadeIn();
            else
                $(item).fadeOut();
        }
    });
    $(function () {
        $(".block_one").click(function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "POST",
                url: "@Url.Action("CountDetails")",
                data: { Id: id },
                datatype: "html",
                success: function (data) {
                    $('#hidden_dialog').html(data);
                }
            });
            showDialog();
        });
    });
    function showDialog() {
        $("#hidden_dialog").dialog({
            width: 600,
            height: 400,
        });
    }
</script>

