@model IEnumerable<DataLayer.Hotel>

    <table id="hotel-table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th>
                    Название отеля
                </th>
                <th>
                    Страна
                </th>
                <th>
                    Курорт
                </th>
                <th>
                    Категория
                </th>
                <th>Расположение отеля</th>
                <th>Комментарий</th>
                <th>Действие</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>

                    <td>@item.Resort.Country.Name</td>
                    <td>@item.Resort.Name</td>
                    <td>@item.Category</td>
                    <td>@item.HotelLocation</td>
                    <td>
                        @item.Comment
                    </td>
                    <td>
                         <a href="@Url.Action("HotelDetails", "Home" ,new {id = item.Id})" target="_blank" class="button">Детали</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

